body {
    display: grid;
    grid-template-areas:
        'navbar navbar navbar navbar navbar'
        'sidebar main main main sidebar2'
        'sidebar footer footer footer sidebar2';
    grid-gap: 10px;
}

.navbar {
    grid-area: navbar;
    background-color: rgb(120, 0, 75);
    height: 50px;
    list-style-type: none;
    text-align: center;
    align-items: center;
    display: grid;
    grid-template-areas: 'logo search break break link1 link2 link3';
  }
  .navbar li {
  }
  .navbar li a {
  display: block;
  font-size: 20px;
  padding: 14px 20px;
  text-decoration: none;
  color: white;
  border-right: 1px solid rgb(90, 0, 50);
  }
  .navbar li a:hover {
     background-color: rgb(90, 0, 50);
  }
  .logo { grid-area: logo; }
  .search { grid-area: search; }
  .link1 { grid-area: link1; }
  .link2 { grid-area: link2; }
  .link3 { grid-area: link3; }

.sidebar {
    grid-area: sidebar;
    max-width: 300px;
    background-color: gray;
}
.sidebar2 {
    grid-area: sidebar2;
    max-width: 300px;
    background-color: gray;
}

.main_content {
    grid-area: main;
}

.footer {
    grid-area: footer;
}

@media screen and (min-width: 600px) {

}